.dashboard-container {
  height: 100vh;
}

.dashboard-content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  padding: 16px;
}

.dashboard-card {
  height: 200px;
}

.spacer {
  flex: 1 1 auto;
}
